body {
  font-family: sans-serif;
}

header {
  text-align: center; 
  margin-bottom: 3rem;
}

footer {
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
  max-width: 39em;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-top: 1.5rem;
}

section + section {
  margin-top: 3rem;
}

.list-inline-item {
  vertical-align: middle;
}

.list-inline-item--social:first-child {
  margin-right: 15px;
}

/*
  Font: Accord Alternate
  Designer: Aakash Soneri <http://www.aakashsoneri.com/>
  Licensed
    by: FontSpring <http://www.fontspring.com>
    to: Hugh Guiney <http://nospoon.tv>
    on: November 12th, 2011
    for: Unlimited domains
*/

@font-face {
    font-family: 'Accord Alternate';
    src: url('AccordAlternate_Bold-webfont.woff2') format('woff2'),
         url('AccordAlternate_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Accord Alternate';
    src: url('AccordAlternate_Med-webfont.woff2') format('woff2'),
         url('AccordAlternate_Med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logotype {
  margin-top: -40px;
  font-family: 'Accord Alternate';
}